@import 'color.scss';
@import 'media-breakpoint.scss';
@import 'images.scss';

$main-font-family: Avenir;

html, body, #root {
    height: 100%;
    font-family: $main-font-family;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    &, &:hover, &:focus, &:active
    {
        -webkit-box-shadow: 0 0 0 1000px $primaryDarkAlter inset !important;
        -webkit-text-fill-color: $primaryLight;
    }
}
