
$link: #61dafb;
$app-background: #181B2E;
$general-text: #fff;
$card-background: #2953A6;
$card-shadow: rgba(0, 0, 0, 0.25);
$color-secondary: #266FF1;
$icon-fill-color: #fff;
$top-bar-color: #272E4D;
$login-overlay-color: #1D1E2F;
$login-btn-color: $color-secondary;
$input-border-color: #3F4664;

