@import 'base.scss';

.App {
    text-align: center;
}

$mobile-device-min-height: 1800px;
$large-device-min-height: 1400px;
.App-layout{
    background: $app-background;
    height: 100%;
    color: $general-text;
    min-height: $mobile-device-min-height;
    @media (min-width: $md-min-width) {
        min-height: $large-device-min-height;
    }
    @media (min-width: $xl-min-width) {
        min-height: $large-device-min-height;
    }
}
