@import 'base.scss';

.BarVisualization{
    text{
        fill: $general-text !important;
    }
    div > div > div {
        background-color: $paper-section !important;
        font-family: $main-font-family !important;
        color: $general-text !important;
    }
}

