@import 'base.scss';

.CardSummary{
    background: $card-background !important;
    text-align: left;
    color: $card-text !important;
    margin: 0 auto;
    width: 92%;
    &__number {
      font-weight: bolder !important;
    }
    &__label{
        text-transform: lowercase;
        font-size: 14px !important;
        &:first-letter{
            text-transform: uppercase;
        }
    }
    &__MuiPaper-root{
        background-color: $card-background !important;
    }
}



