@import 'base.scss';

.CardSummary{
    width: 100px;
    background: $card-background !important;
    text-align: center;
    color: $general-text !important;
    &__number {

    }
    &__label{
        text-transform: capitalize;
    }
    @media (min-width: $md-min-width) {
        width: 200px;
    }
    @media (min-width: $xl-min-width) {
        width: 300px;
    }
}

