@import 'base.scss';

.CardSummary{
    background: $card-background !important;
    text-align: left;
    color: $card-text !important;
    padding: 12px 12px 12px 12px;
    &__number {
      font-weight: bolder !important;
      font-size: 28px !important;
    }
    &__label{
        text-transform: lowercase;
        font-size: 18px !important;
        &:first-letter{
            text-transform: uppercase;
        }
    }
    &__MuiPaper-root{
        background-color: $card-background !important;
    }
}



