@import 'base.scss';

$CardSummarySectionLefRight: 20px;
$SectionsVisualizationWidth: 360px;
$SectionsVisualizationWidthXl: 1250px;
$SectionsVisualizationWidthMd: 690px;
$SectionsVisualizationWidthLg: 860px;
.DashboardPage{
    &__MuiPaper-root{
        background-color: $paper-section !important;
        font-family: $main-font-family !important;
        color: $general-text !important;
        padding-bottom: 50px;
    }
    padding-left: 4%;
    padding-right: 10px;
}

.ShipmentsVisualization{
    height: 290px;
    padding-top: 10px;
}

.StatusVisualization{
    height: 250px;
}

.PerformancePickUpVisualization{
    height: 350px;
}



.CardSummarySection{
    margin-bottom: 8px;
    @media (min-width: $md-min-width) {
        margin-bottom: 12px;
    }
    @media (min-width: $xl-min-width) {
        margin-bottom: 16px;
    }
    margin-right:  $CardSummarySectionLefRight;
    margin-left:  $CardSummarySectionLefRight;
}
