@import 'base.scss';

$CardSummarySectionLefRight: 20px;
$SectionsVisualizationWidth: 380px;
$SectionsVisualizationWidthXl: 1250px;
$SectionsVisualizationWidthMd: 690px;
$SectionsVisualizationWidthLg: 860px;
.DashboardPage{
    &__MuiPaper-root{
        background-color: $paper-section !important;
        font-family: $main-font-family !important;
        color: $general-text !important;
    }
}

.ShipmentsVisualization{
    height: 290px;
    width: $SectionsVisualizationWidth;
    padding-top: 10px;
    @media (min-width: $md-min-width) {
        width: $SectionsVisualizationWidthMd;
    }
    @media (min-width: $lg-min-width) {
        width: $SectionsVisualizationWidthLg;
    }
    @media (min-width: $xl-min-width) {
        width: $SectionsVisualizationWidthXl;
    }
}

.StatusVisualization{
    height: 250px;
    width: $SectionsVisualizationWidth;
    @media (min-width: $md-min-width) {
        width: $SectionsVisualizationWidthMd;
    }
    @media (min-width: $lg-min-width) {
        width: $SectionsVisualizationWidthLg;
    }
    @media (min-width: $xl-min-width) {
        width: $SectionsVisualizationWidthXl;
    }
}

.PerformancePickUpVisualization{
    height: 350px;
    width: $SectionsVisualizationWidth;
    @media (min-width: $md-min-width) {
        width: $SectionsVisualizationWidthMd;
    }
    @media (min-width: $lg-min-width) {
        width: $SectionsVisualizationWidthLg;
    }
    @media (min-width: $xl-min-width) {
        width: $SectionsVisualizationWidthXl;
    }
}



.CardSummarySection{
    margin-bottom: 8px;
    @media (min-width: $md-min-width) {
        margin-bottom: 12px;
    }
    @media (min-width: $xl-min-width) {
        margin-bottom: 16px;
    }
    margin-right:  $CardSummarySectionLefRight;
    margin-left:  $CardSummarySectionLefRight;
}
