@import 'base.scss';


.ForgotPasswordPage{
    background: $main-login-overlay-color;
    font-family: $main-font-family !important;
    color: $generalTextColorAlter;
    height: 100%;
    min-height: 550px;
    .MuiPaper-root{
        background-color: $login-overlay-color !important;
        font-family: $main-font-family !important;
        color: $generalTextColorAlter !important;
    }
}

.SecondaryLoginOverlay{
    width: 305px;
    background: transparent;
    padding: 8px;
}

.MainLogo{
    display: block;
    margin: 0 auto;
    height: 163px;
}
.InputGroup{
    margin: 0 auto 8px;
}
.InputGroup--last{
    margin: 0 auto;
}
.ButtonGroup{
    margin: 0 auto 2px;
}
.ForgotPassword{
    text-align: right;
    font-family: $main-font-family;
    font-size: 12px;
    line-height: 19px;
    margin: 14px auto 48px;
    cursor: pointer;
}

.SignUp{
    width: 200px;
    text-align: center;
    font-family: $main-font-family;
    font-size: 12px;
    line-height: 19px;
    margin: 14px auto 48px;
    cursor: pointer;
}

.MainTitle{
    font-size: 27px;
    line-height: 37px;
    font-family: $main-font-family;
    text-align: center;
    margin: 32px 0 0 0;
}

.SubTitle{
    font-size: 16px;
    line-height: 22px;
    font-family: $main-font-family;
    text-align: center;
    margin: 9px 0 45px 0;
}

.MuiOutlinedInput-root{
    color: $generalTextColorAlter !important;
    caret-color: $generalTextColorAlter !important;
    background-color: $input-background-color !important;
    fieldset {
        border-color: $input-border-color !important;
    }
    &.Mui-focused fieldset {
        border-color: $input-border-color !important;
    }
}
.MuiInputLabel-root{
    color: $generalTextColorAlter !important;
}
.Login-btn.MuiButtonBase-root{
    background-color: $login-btn-color !important;
    color: $generalTextColorAlter !important;
    height: 52px;
    font-size: 22px !important;
    line-height: 30px !important;
    text-transform: capitalize;
    font-family: $main-font-family;
}

.SuccessMessage{
    background-color: #7fd323;
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}
