@import 'base.scss';

$CardSummarySectionLefRight: 20px;
$SectionsVisualizationWidth: 310px;

.HomePage{
    &__MuiPaper-root{
        background-color: $paper-section !important;
        font-family: $main-font-family !important;
        color: $general-text !important;
    }
}

.StatusVisualization{
    height: 250px;
    width: $SectionsVisualizationWidth;
}

.PerformancePickUpVisualization{
    height: 350px;
    width: $SectionsVisualizationWidth;
}



.CardSummarySection{
    margin-bottom: 8px;
    margin-right:  $CardSummarySectionLefRight;
    margin-left:  $CardSummarySectionLefRight;
}
