@import 'base.scss';

.HomePage{
    &__MuiPaper-root{
        background-color: $paper-section !important;
        font-family: $main-font-family !important;
        color: $general-text !important;
    }
}

.StatusVisualization{
    height: 250px;
    width: 340px;
}

.PerformancePickUpVisualization{
    height: 350px;
    width: 357px;
}
