@import 'base.scss';

.LineDivider{
    border: none;
    margin: 0 40px;

    &--horizontal{
        border-bottom: 1px solid #ccc;
    }
    &--vertical{
        border-right: 1px solid #ccc;
        height: 290px;
        padding: 1px;
    }
}
