@import 'base.scss';

.MultiYAxesVisualization{
  tspan{
    fill: $general-text;
    font-size: 12px;
  }
  span{
    font-size: 11px;
  }
}

.TitleVisualization{
  font-size: 12px !important;
  text-align: center;
  line-height: 12px;
}
