@import 'base.scss';

.MultiYAxesVisualization{
  tspan{
    fill: $general-text;
    font-size: 12px;
  }
  span{
    font-size: 11px;
  }
  .recharts-bar-rectangle path{
    fill: $multiAxesVisualizationBarColor !important;
  }
  .recharts-legend-item.legend-item-0 .recharts-symbols{
    fill: $multiAxesVisualizationBarColor !important;
  }
  .recharts-line-curve{
    stroke: $multiAxesVisualizationLineColor !important;
  }
  .recharts-legend-item.legend-item-1 .recharts-symbols{
    fill: $multiAxesVisualizationLineColor !important;
  }
  .recharts-default-legend{
      margin-left: 8% !important;
      padding-top: 10px !important;
      position: absolute;
  }
}

.TitleVisualization{
  font-size: 12px !important;
  text-align: center;
  line-height: 12px;
}

$navigate-arrow-size: 19px;

.NavigateSection{

}

.NavigateBack{
    font-size: $navigate-arrow-size !important;
    margin-right: 30px;
    line-height: 24px;
    cursor: pointer;
}

.NavigateNext{
    font-size: $navigate-arrow-size !important;
    transform: rotateY(180deg) !important;
    margin-left: 30px;
    line-height: 24px;
    cursor: pointer;
}
