@import 'base.scss';

.PieVisualization{
    g g:nth-of-type(1) g text{
        fill: $primaryLight !important;
    }
    g g:nth-of-type(2) text{
        fill: $general-text !important;
    }
    div > div > div {
        background-color: $paper-section !important;
        font-family: $main-font-family !important;
        color: $general-text !important;
    }
}

