@import 'base.scss';

.SideBar-menu{
    background: $side-bar-background-color !important;
    &__IconButton-logo{
       width: 100px;
    }
    &__IconButton-Back{
       width: 62px;
    }
    .MuiPaper-root{
        background: $side-bar-background-color !important;
    }
    &__Header{
       display: flex;
    }
    .MuiDivider-root{
        background-color: #4d5176;
        margin-left: 50px;
        margin-right: 50px;
    }
    svg{
        height: 64px;
    }
}

