@import 'base.scss';

.StackVisualization{

}

.TitleStack{
    font-size: 18px !important;
    line-height: 27px !important;
    margin-bottom: 6px !important;
}
.SubStatusBox{
    color: $primaryDark;
    padding: 5px 5px 5px 15px;
    &__label{
        font-size: 14px;
        @media (max-width: $md-min-width) {
            font-size: 10px !important;
        }
    }
}
.SubStatus1{
    background-color: $stack-sub-status-color-1;
    color: $primaryLight;
}
.SubStatus2{
    background-color: $stack-sub-status-color-2;
}
.SubStatus3{
    background-color: $stack-sub-status-color-3;
}
.SubStatus4{
    background-color: $stack-sub-status-color-4;
}


