@import 'base.scss';

.TopBar{
  background: $top-bar-background-color !important;
  color: $top-bar-text-color !important;
  padding-left: 17% !important;
  .Icon__Shape{
      fill: $primary;
  }
  .MuiIconButton-label{
    padding-top: 10px;
  }
}


