@import 'base.scss';

.TotalSummary{
    padding: 5px;
    text-align: left;
    margin-bottom: 30px;
    &--center{
        text-align: center;
        margin-bottom: 30px;
    }
    &__Title{
        text-transform: lowercase;
        font-size: 16px !important;
        margin-bottom: 5px !important;
        color: #999 !important;
        &:first-letter{
            text-transform: uppercase;
        }
    }

    &__Legend{
        font-size: 16px !important;
        font-weight: 500 !important;
        margin-bottom: 14px !important;
    }
    &:last-child{
        padding-bottom: 12px;
    }
}

