@import 'base.scss';


.LoginOverlay{
    background: $login-overlay-color;
    font-family: $main-font-family !important;
    color: $general-text;
}
.LoginForm{

}
.MainLogo{
    display: block;
    margin: 0 auto;
}
.InputGroup{
    width: 200px;
    margin: 0 auto 45px;
}
.InputGroup--last{
    margin: 0 auto;
}
.ButtonGroup{
    margin: 0 auto;
    width: 200px;
}
.ForgotPassword{
    width: 200px;
    text-align: right;
    font-family: $main-font-family;
    font-size: 12px;
    line-height: 19px;
    margin: 14px auto 48px;
    cursor: pointer;
}
.mdc-button{
    background-color: $login-btn-color !important;
    color: $general-text !important;
    width: 196px;
    height: 52px;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: $main-font-family;
}
.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing{
    border-color: $input-border-color !important;
}
.mdc-floating-label{
    color: $general-text !important;
}
.mdc-text-field__input{
    color: $general-text !important;
    caret-color: $general-text !important;
}
.MainTitle{
    font-size: 30px;
    line-height: 41px;
    font-family: $main-font-family;
    text-align: center;
    margin: 32px 0 0 0;
}

.SubTitle{
    font-size: 20px;
    line-height: 27px;
    font-family: $main-font-family;
    text-align: center;
    margin: 15px 0 45px 0;
}
