body {
    font-family: 'Roboto', sans-serif;
}

select {
    width: 95%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='200px' height='200px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'>%3Ctext x='18' y='55' font-family='Verdana' font-size='12' fill='white'>Processing%3C/text>%3Ccircle cx='50' cy='50' r='40' stroke='#b6db86' fill='none' stroke-width='10' stroke-linecap='round'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='40' stroke='#2ec2dd' fill='none' stroke-width='6' stroke-linecap='round'%3E%3Canimate attributeName='stroke-dashoffset' dur='2s' repeatCount='indefinite' from='0' to='502'%3E%3C/animate%3E%3Canimate attributeName='stroke-dasharray' dur='2s' repeatCount='indefinite' values='150.6 100.4;1 250;150.6 100.4'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
}

.noSidebarCell, 
.sidebarCell .fixed {
    padding: 0px !important;
}

.bodyDiv .outerNoSidebar {
    padding: 0px !important;
}

.outerNoSidebar {
    padding: 0px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media print {
    .btn {
        display: none;
    }
}